<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default " en-us" }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  {{ $static := .Site.BaseURL | relURL }}
  <link rel="stylesheet" href="{{ $static }}/-/content.parsoid.css">
  <link rel="stylesheet" href="{{ $static }}/-/inserted_style.css">
  <link rel="stylesheet" href="{{ $static }}/-/mobile_main_page.css">
  <link rel="stylesheet" href="{{ $static }}/-/style.css">

  <script src="{{ $static }}/-/images_loaded.min.js" defer></script>
  <script src="{{ $static }}/-/masonry.min.js" defer></script>
  <script src="{{ $static }}/-/article_list_home.js" defer></script>
  <script src="{{ $static }}/-/script.js" defer></script>
  <script src="{{ $static }}/-/webpHeroBundle.js" defer></script>
  <script src="{{ $static }}/-/webpHeroPolyfill.js" defer></script>
  <script src="{{ $static }}/-/webpHandler.js" defer></script>
</head>

<body>
  <header id="site-header">
  </header>

  <aside id="site-sidebar">
  </aside>

  <main id="content" role="main">
    {{ block "main" . }}
    {{ .Content }} {{ end }}
  </main>

  <footer id="site-footer">
  </footer>

</body>

</html>
