{{ define "main" }}
<div class="blog-list">
  <h1>{{ .Title }}</h1>
  
  {{ .Content }}
  
  <div class="post-list">
    {{ range .Pages }}
    <article class="post-item">
      <div class="post-date">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 19l7-7 3 3-7 7-3-3z"></path><path d="M18 13l-1.5-7.5L2 2l3.5 14.5L13 18l5-5z"></path><path d="M2 2l7.586 7.586"></path><circle cx="11" cy="11" r="2"></circle></svg>
      </div>
      <time class="text-date">{{ .Date.Format "Jan 02, 2006" }}</time>
      <h2 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
      </h2>
    </article>
    {{ end }}
  </div>
</div>
{{ end }}